* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f4f7fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}

.App-logo:hover {
  transform: rotate(360deg); /* animação do logo ao passar o mouse */
}

.App-header {
  background: linear-gradient(135deg, #6e7aef, #5560ea);
  color: white;
  min-height: 50vh; /* Reduzindo a altura do cabeçalho */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; /* Ajustando o tamanho da fonte */
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 40px;
  width: 100%;
}

h1 {
  font-size: 2rem; /* Reduzindo o tamanho do título */
  margin-bottom: 20px;
}

.App-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 1.1rem;
}

.App-link:hover {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
